BasedOnStyle: google
AlignAfterOpenBracket: AlwaysBreak
AlignConsecutiveAssignments: false
AlignOperands: true
AlignTrailingComments: true
AllowShortFunctionsOnASingleLine: false
AllowAllParametersOfDeclarationOnNextLine: false
AlwaysBreakAfterDefinitionReturnType: None
AlwaysBreakAfterReturnType: None
AlwaysBreakTemplateDeclarations: Yes
BinPackArguments: false
BinPackParameters: false
BreakBeforeBraces: Mozilla
ColumnLimit: 80
CompactNamespaces: false
ConstructorInitializerAllOnOneLineOrOnePerLine: true
ConstructorInitializerIndentWidth: 2
ContinuationIndentWidth: 2
ExperimentalAutoDetectBinPacking: false
Language: Cpp
NamespaceIndentation: None
PenaltyReturnTypeOnItsOwnLine: 0
SpaceAfterTemplateKeyword: true
SpacesInAngles: false
SpacesInParentheses: false
Standard: Cpp11